#### Part 10: Advanced Data Operations in Pandas

In this notebook, we'll explore advanced data operations in pandas, including:
- Hierarchical indexing (MultiIndex)
- Advanced grouping operations
- Complex data transformations
- Performance optimization techniques

##### Setup
First, let's import the necessary libraries:

In [1]:
import pandas as pd
import numpy as np

# Set display options for better visualization
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.precision', 3)

##### 1. Hierarchical Indexing (MultiIndex)

Hierarchical indexing is a powerful feature that allows you to have multiple levels of indexing on both rows and columns.

In [2]:
# Create a MultiIndex DataFrame
arrays = [
    ['A', 'A', 'B', 'B'],
    [1, 2, 1, 2]
]
index = pd.MultiIndex.from_arrays(arrays, names=('letter', 'number'))
df = pd.DataFrame({'value': [100, 200, 300, 400]}, index=index)
df

               value
letter number
A      1         100
       2         200
B      1         300
       2         400

### 1.1 Accessing Data in MultiIndex

In [3]:
# Different ways to access data
print("Accessing level 'A':")
print(df.loc['A'])

print("\nAccessing specific value:")
print(df.loc[('A', 1)])

Accessing level 'A':
        value
number
1         100
2         200

Accessing specific value:
value    100
Name: (A, 1), dtype: int64

##### 2. Advanced Grouping Operations

In [4]:
# Create sample data
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two'],
    'C': [1, 2, 3, 4, 5, 6],
    'D': [10, 20, 30, 40, 50, 60]
})

# Group by multiple columns
grouped = df.groupby(['A', 'B']).sum()
grouped

           C   D
A   B
bar one    2  20
    three  4  40
    two    6  60
foo one    1  10
    two    8  80

### 2.1 Advanced Aggregation

In [5]:
# Multiple aggregation functions
agg_funcs = {
    'C': ['sum', 'mean', 'std'],
    'D': ['min', 'max']
}
df.groupby('A').agg(agg_funcs)

      C             D
    sum mean  std min max
A
bar  12  4.0  2.0  20  60
foo   9  3.0  2.0  10  50

##### 3. Complex Data Transformations

In [6]:
# Create sample time series data
dates = pd.date_range('2023-01-01', periods=6)
df = pd.DataFrame({
    'date': dates,
    'value': [100, 102, 98, 97, 103, 105]
})

# Calculate rolling mean
df['rolling_mean'] = df['value'].rolling(window=3).mean()

# Calculate percent change
df['pct_change'] = df['value'].pct_change()

df

        date  value  rolling_mean  pct_change
0 2023-01-01    100           NaN         NaN
1 2023-01-02    102           NaN       0.020
2 2023-01-03     98       100.000      -0.039
3 2023-01-04     97        99.000      -0.010
4 2023-01-05    103        99.333       0.062
5 2023-01-06    105       101.667       0.019

##### 4. Performance Optimization

Let's look at some techniques to optimize pandas operations:

In [7]:
# Create a large DataFrame
n = 1000000
df = pd.DataFrame({
    'A': np.random.randn(n),
    'B': np.random.randn(n),
    'C': np.random.randn(n)
})

# Time different operations
import time

# Using iterrows (slow)
start = time.time()
result1 = []
for idx, row in df.iterrows():
    result1.append(row['A'] + row['B'])
print(f"iterrows time: {time.time() - start:.2f} seconds")

# Using vectorization (fast)
start = time.time()
result2 = df['A'] + df['B']
print(f"vectorized time: {time.time() - start:.2f} seconds")

iterrows time: 7.97 seconds
vectorized time: 0.00 seconds

### 4.1 Memory Optimization Tips

1. Use appropriate data types (e.g., categories for string columns with few unique values)
2. Use chunking for large files
3. Remove unnecessary columns
4. Use inplace operations when possible

In [8]:
# Example of memory optimization
df = pd.DataFrame({
    'id': range(1000000),
    'category': np.random.choice(['A', 'B', 'C'], 1000000)
})

print(f"Memory usage before: {df.memory_usage().sum() / 1024**2:.2f} MB")

# Convert to category
df['category'] = df['category'].astype('category')

print(f"Memory usage after: {df.memory_usage().sum() / 1024**2:.2f} MB")

Memory usage before: 15.26 MB
Memory usage after: 8.58 MB