#### Pandas Tutorial - Part 66: DataFrame Methods (set_index, to_csv)

This notebook covers two important DataFrame methods:
- `set_index()` - Set the DataFrame index using existing columns
- `to_csv()` - Write object to a comma-separated values (csv) file

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import tempfile

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

##### 1. DataFrame.set_index()

The `set_index()` method sets the DataFrame index (row labels) using one or more existing columns or arrays. The index can replace the existing index or expand on it.

In [2]:
# Create a sample DataFrame
df = pd.DataFrame({
    'month': [1, 4, 7, 10],
    'year': [2012, 2014, 2013, 2014],
    'sale': [55, 40, 84, 31]
})

print("Original DataFrame:")
df

Original DataFrame:

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [3]:
# Set the index to become the 'month' column
print("Set 'month' as index:")
df.set_index('month')

Set 'month' as index:

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

In [4]:
# Create a MultiIndex using columns 'year' and 'month'
print("Set MultiIndex using 'year' and 'month':")
df.set_index(['year', 'month'])

Set MultiIndex using 'year' and 'month':

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [5]:
# Set index without dropping the columns
print("Set 'month' as index without dropping the column:")
df.set_index('month', drop=False)

Set 'month' as index without dropping the column:

       month  year  sale
month
1          1  2012    55
4          4  2014    40
7          7  2013    84
10        10  2014    31

In [6]:
# Append to the existing index
# First, set 'year' as index
df_year_index = df.set_index('year')
print("DataFrame with 'year' as index:")
print(df_year_index)

# Then, append 'month' to the index
print("\nAppend 'month' to the existing index:")
df_year_index.set_index('month', append=True)

DataFrame with 'year' as index:
      month  sale
year
2012      1    55
2014      4    40
2013      7    84
2014     10    31

Append 'month' to the existing index:

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [7]:
# Set index inplace
print("Before inplace operation:")
print(df)

df.set_index('month', inplace=True)
print("\nAfter inplace operation:")
print(df)

Before inplace operation:
   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

After inplace operation:
       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

In [8]:
# Reset the DataFrame for further examples
df = pd.DataFrame({
    'month': [1, 4, 7, 10],
    'year': [2012, 2014, 2013, 2014],
    'sale': [55, 40, 84, 31]
})

In [10]:
# Using an array as index
new_index = ['a', 'b', 'c', 'd']
print("Set index by direct assignment:")
df_new = df.copy()
df_new.index = new_index
print(df_new)

Set index by direct assignment:
   month  year  sale
a      1  2012    55
b      4  2014    40
c      7  2013    84
d     10  2014    31

In [11]:
# Using a Series as index
new_index_series = pd.Series(['w', 'x', 'y', 'z'])
print("Set index using a Series:")
df.set_index(new_index_series)

Set index using a Series:

   month  year  sale
w      1  2012    55
x      4  2014    40
y      7  2013    84
z     10  2014    31

In [12]:
# Create a DataFrame with duplicate values
df_dup = pd.DataFrame({
    'month': [1, 1, 7, 10],
    'year': [2012, 2012, 2013, 2014],
    'sale': [55, 40, 84, 31]
})

print("DataFrame with duplicate values:")
print(df_dup)

DataFrame with duplicate values:
   month  year  sale
0      1  2012    55
1      1  2012    40
2      7  2013    84
3     10  2014    31

In [13]:
# Set index with verify_integrity=True
try:
    df_dup.set_index('month', verify_integrity=True)
except ValueError as e:
    print(f"Error: {e}")

Error: Index has duplicate keys: Index([1], dtype='int64', name='month')

In [14]:
# Set index with verify_integrity=False (default)
print("Set index with verify_integrity=False (default):")
df_dup.set_index('month', verify_integrity=False)

Set index with verify_integrity=False (default):

       year  sale
month
1      2012    55
1      2012    40
7      2013    84
10     2014    31

In [15]:
# Create a MultiIndex with duplicate values
print("Set MultiIndex with duplicate values:")
df_dup.set_index(['year', 'month'])

Set MultiIndex with duplicate values:

            sale
year month
2012 1        55
     1        40
2013 7        84
2014 10       31

##### 2. DataFrame.to_csv()

The `to_csv()` method writes the DataFrame to a comma-separated values (CSV) file. It provides many options for customizing the output format.

In [16]:
# Create a sample DataFrame
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'salary': [50000, 60000, np.nan, 80000],
    'department': ['HR', 'IT', 'Finance', 'Marketing']
})

print("Sample DataFrame:")
df

Sample DataFrame:

      name  age   salary department
0    Alice   25  50000.0         HR
1      Bob   30  60000.0         IT
2  Charlie   35      NaN    Finance
3    David   40  80000.0  Marketing

In [17]:
# Basic usage - write to a file
temp_file = tempfile.NamedTemporaryFile(suffix='.csv', delete=False)
temp_file.close()

df.to_csv(temp_file.name)

# Read the file back to see what was written
print("Contents of the CSV file:")
with open(temp_file.name, 'r') as f:
    print(f.read())

# Clean up
os.unlink(temp_file.name)

Contents of the CSV file:
,name,age,salary,department
0,Alice,25,50000.0,HR
1,Bob,30,60000.0,IT
2,Charlie,35,,Finance
3,David,40,80000.0,Marketing

In [18]:
# Return as string instead of writing to a file
csv_string = df.to_csv()
print("CSV as string:")
print(csv_string)

CSV as string:
,name,age,salary,department
0,Alice,25,50000.0,HR
1,Bob,30,60000.0,IT
2,Charlie,35,,Finance
3,David,40,80000.0,Marketing

In [19]:
# Customize the separator
csv_string = df.to_csv(sep='|')
print("CSV with pipe separator:")
print(csv_string)

CSV with pipe separator:
|name|age|salary|department
0|Alice|25|50000.0|HR
1|Bob|30|60000.0|IT
2|Charlie|35||Finance
3|David|40|80000.0|Marketing

In [20]:
# Customize how missing values are represented
csv_string = df.to_csv(na_rep='MISSING')
print("CSV with custom NA representation:")
print(csv_string)

CSV with custom NA representation:
,name,age,salary,department
0,Alice,25,50000.0,HR
1,Bob,30,60000.0,IT
2,Charlie,35,MISSING,Finance
3,David,40,80000.0,Marketing

In [21]:
# Format floating point numbers
df_float = pd.DataFrame({
    'A': [1.123456, 2.123456],
    'B': [3.123456, 4.123456]
})

csv_string = df_float.to_csv(float_format='%.2f')
print("CSV with formatted float values:")
print(csv_string)

CSV with formatted float values:
,A,B
0,1.12,3.12
1,2.12,4.12

In [22]:
# Select specific columns to write
csv_string = df.to_csv(columns=['name', 'age'])
print("CSV with selected columns:")
print(csv_string)

CSV with selected columns:
,name,age
0,Alice,25
1,Bob,30
2,Charlie,35
3,David,40

In [23]:
# Control header output
# No header
csv_string = df.to_csv(header=False)
print("CSV without header:")
print(csv_string)

# Custom header names
csv_string = df.to_csv(header=['Name', 'Age', 'Salary', 'Department'])
print("\nCSV with custom header names:")
print(csv_string)

CSV without header:
0,Alice,25,50000.0,HR
1,Bob,30,60000.0,IT
2,Charlie,35,,Finance
3,David,40,80000.0,Marketing


CSV with custom header names:
,Name,Age,Salary,Department
0,Alice,25,50000.0,HR
1,Bob,30,60000.0,IT
2,Charlie,35,,Finance
3,David,40,80000.0,Marketing

In [24]:
# Control index output
# No index
csv_string = df.to_csv(index=False)
print("CSV without index:")
print(csv_string)

# Custom index label
csv_string = df.to_csv(index_label='ID')
print("\nCSV with custom index label:")
print(csv_string)

CSV without index:
name,age,salary,department
Alice,25,50000.0,HR
Bob,30,60000.0,IT
Charlie,35,,Finance
David,40,80000.0,Marketing


CSV with custom index label:
ID,name,age,salary,department
0,Alice,25,50000.0,HR
1,Bob,30,60000.0,IT
2,Charlie,35,,Finance
3,David,40,80000.0,Marketing

In [25]:
# Create a DataFrame with MultiIndex
df_multi = pd.DataFrame(
    np.random.randn(4, 2),
    index=pd.MultiIndex.from_tuples([('A', 1), ('A', 2), ('B', 1), ('B', 2)]),
    columns=['C1', 'C2']
)

print("DataFrame with MultiIndex:")
print(df_multi)

# Write to CSV
csv_string = df_multi.to_csv()
print("\nMultiIndex DataFrame as CSV:")
print(csv_string)

# With custom index labels
csv_string = df_multi.to_csv(index_label=['Group', 'Number'])
print("\nMultiIndex DataFrame as CSV with custom index labels:")
print(csv_string)

DataFrame with MultiIndex:
           C1        C2
A 1 -1.204703  1.768568
  2  0.146277  0.603850
B 1 -0.600636 -0.791850
  2  1.025082  0.665879

MultiIndex DataFrame as CSV:
,,C1,C2
A,1,-1.2047026265130856,1.7685681900846428
A,2,0.14627680348019342,0.6038499786063481
B,1,-0.6006364788174945,-0.7918500539720528
B,2,1.025081804454337,0.6658792473911631


MultiIndex DataFrame as CSV with custom index labels:
Group,Number,C1,C2
A,1,-1.2047026265130856,1.7685681900846428
A,2,0.14627680348019342,0.6038499786063481
B,1,-0.6006364788174945,-0.7918500539720528
B,2,1.025081804454337,0.6658792473911631

In [26]:
# Write to compressed file
temp_file_gz = tempfile.NamedTemporaryFile(suffix='.csv.gz', delete=False)
temp_file_gz.close()

df.to_csv(temp_file_gz.name, compression='gzip')

# Check that the file exists and has content
print(f"Compressed file size: {os.path.getsize(temp_file_gz.name)} bytes")

# Read the compressed file back
df_read = pd.read_csv(temp_file_gz.name, compression='gzip')
print("\nDataFrame read from compressed CSV:")
print(df_read)

# Clean up
os.unlink(temp_file_gz.name)

Compressed file size: 146 bytes

DataFrame read from compressed CSV:
   Unnamed: 0     name  age   salary department
0           0    Alice   25  50000.0         HR
1           1      Bob   30  60000.0         IT
2           2  Charlie   35      NaN    Finance
3           3    David   40  80000.0  Marketing

In [27]:
# Write with different encoding
df_encoding = pd.DataFrame({
    'name': ['José', 'María', 'João', 'François'],
    'country': ['Spain', 'Mexico', 'Brazil', 'France']
})

print("DataFrame with non-ASCII characters:")
print(df_encoding)

# Write with UTF-8 encoding (default)
temp_file_utf8 = tempfile.NamedTemporaryFile(suffix='.csv', delete=False)
temp_file_utf8.close()

df_encoding.to_csv(temp_file_utf8.name, encoding='utf-8')

# Read the file back
with open(temp_file_utf8.name, 'r', encoding='utf-8') as f:
    print("\nCSV with UTF-8 encoding:")
    print(f.read())

# Clean up
os.unlink(temp_file_utf8.name)

DataFrame with non-ASCII characters:
       name country
0      José   Spain
1     María  Mexico
2      João  Brazil
3  François  France

CSV with UTF-8 encoding:
,name,country
0,José,Spain
1,María,Mexico
2,João,Brazil
3,François,France

##### Summary

In this notebook, we've explored two important DataFrame methods:

1. **set_index()**: Sets the DataFrame index (row labels) using one or more existing columns or arrays. Key parameters include:
   - `keys`: Column name(s) or array(s) to use as the new index
   - `drop`: Whether to delete the column(s) used as the new index
   - `append`: Whether to append columns to the existing index
   - `inplace`: Whether to modify the DataFrame in place
   - `verify_integrity`: Whether to check the new index for duplicates

2. **to_csv()**: Writes the DataFrame to a comma-separated values (CSV) file. This method provides many options for customizing the output format, including:
   - `path_or_buf`: File path or object to write to
   - `sep`: Field delimiter (default is ',')
   - `na_rep`: How to represent missing values
   - `float_format`: Format string for floating point numbers
   - `columns`: Which columns to write
   - `header`: Whether to write column names and what to call them
   - `index`: Whether to write row names (index)
   - `index_label`: Column label for index column(s)
   - `encoding`: Character encoding for the output
   - `compression`: Compression mode for the output file

These methods are essential for data manipulation and exporting data from pandas to CSV files for sharing or further processing.