##### Boolean Operations and Transformations

In [1]:
import pandas as pd
import numpy as np

##### Advanced divmod Operations
Using divmod with Series and Index objects

In [2]:
# Series divmod
s = pd.Series(np.arange(10))
div, rem = divmod(s, 3)

print("Original series:")
print(s)
print("\nDivision result:")
print(div)
print("\nRemainder:")
print(rem)

Original series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Division result:
0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
9    3
dtype: int64

Remainder:
0    0
1    1
2    2
3    0
4    1
5    2
6    0
7    1
8    2
9    0
dtype: int64

In [3]:
# Index divmod
idx = pd.Index(np.arange(10))
div, rem = divmod(idx, 3)

print("Original index:")
print(idx)
print("\nDivision result:")
print(div)
print("\nRemainder:")
print(rem)

Original index:
Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

Division result:
Index([0, 0, 0, 1, 1, 1, 2, 2, 2, 3], dtype='int64')

Remainder:
Index([0, 1, 2, 0, 1, 2, 0, 1, 2, 0], dtype='int64')

In [4]:
# Elementwise divmod
div, rem = divmod(s, [2, 2, 3, 3, 4, 4, 5, 5, 6, 6])
print("Elementwise division:")
print(div)
print("\nElementwise remainder:")
print(rem)

Elementwise division:
0    0
1    0
2    0
3    1
4    1
5    1
6    1
7    1
8    1
9    1
dtype: int64

Elementwise remainder:
0    0
1    1
2    2
3    0
4    0
5    1
6    1
7    2
8    2
9    3
dtype: int64

##### Missing Data Operations
Handling NaN values in arithmetic operations

In [5]:
# Create sample DataFrames
df = pd.DataFrame({
    'one': [1.39, 0.34, 0.69, np.nan],
    'two': [1.77, 1.91, 1.47, 0.27],
    'three': [np.nan, -0.05, 1.22, -0.61]
}, index=['a', 'b', 'c', 'd'])

df2 = df.copy()
df2.loc['a', 'three'] = 1.0

print("DataFrame 1:")
print(df)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
    one   two  three
a  1.39  1.77    NaN
b  0.34  1.91  -0.05
c  0.69  1.47   1.22
d   NaN  0.27  -0.61

DataFrame 2:
    one   two  three
a  1.39  1.77   1.00
b  0.34  1.91  -0.05
c  0.69  1.47   1.22
d   NaN  0.27  -0.61

In [6]:
# Regular addition (NaN propagation)
print("Regular addition:")
print(df + df2)

Regular addition:
    one   two  three
a  2.78  3.54    NaN
b  0.68  3.82  -0.10
c  1.38  2.94   2.44
d   NaN  0.54  -1.22

In [7]:
# Addition with fill value
print("Addition with fill_value=0:")
print(df.add(df2, fill_value=0))

Addition with fill_value=0:
    one   two  three
a  2.78  3.54   1.00
b  0.68  3.82  -0.10
c  1.38  2.94   2.44
d   NaN  0.54  -1.22

##### Flexible Comparisons
Boolean operations between DataFrames

In [8]:
# Greater than comparison
print("df > df2:")
print(df.gt(df2))

df > df2:
     one    two  three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [9]:
# Not equal comparison
print("df != df2:")
print(df2.ne(df))

df != df2:
     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

##### Boolean Reductions
Summarizing boolean results

In [10]:
# Check if all values are positive
print("All positive values?")
print((df > 0).all())

print("\nAny positive values?")
print((df > 0).any())

All positive values?
one      False
two       True
three    False
dtype: bool

Any positive values?
one      True
two      True
three    True
dtype: bool

In [11]:
# Check if DataFrame is empty
print("Is df empty?", df.empty)
print("Is empty DataFrame empty?", pd.DataFrame(columns=list('ABC')).empty)

Is df empty? False
Is empty DataFrame empty? True

##### DataFrame Transformations
Apply functions to transform data

In [12]:
# Create time series DataFrame
dates = pd.date_range('2000-01-01', periods=10)
tsdf = pd.DataFrame(np.random.randn(10, 3), index=dates, columns=['A', 'B', 'C'])

print("Time series DataFrame:")
print(tsdf)

Time series DataFrame:
                   A         B         C
2000-01-01 -0.086255 -0.061914  0.876074
2000-01-02  0.427084 -0.242399 -1.062885
2000-01-03 -0.424431  0.097712  1.036498
2000-01-04  1.260290  1.137572 -0.088948
2000-01-05 -0.400869 -1.942060 -0.228203
2000-01-06 -0.282520  0.586111 -0.418950
2000-01-07 -0.091610  0.555329 -0.176473
2000-01-08 -0.585150 -0.898894 -0.504578
2000-01-09 -0.530634  1.319973  0.222900
2000-01-10 -0.427710  1.059185  1.036395

In [13]:
# Transform using NumPy function
print("Absolute values (numpy):")
print(tsdf.transform(np.abs))

Absolute values (numpy):
                   A         B         C
2000-01-01  0.086255  0.061914  0.876074
2000-01-02  0.427084  0.242399  1.062885
2000-01-03  0.424431  0.097712  1.036498
2000-01-04  1.260290  1.137572  0.088948
2000-01-05  0.400869  1.942060  0.228203
2000-01-06  0.282520  0.586111  0.418950
2000-01-07  0.091610  0.555329  0.176473
2000-01-08  0.585150  0.898894  0.504578
2000-01-09  0.530634  1.319973  0.222900
2000-01-10  0.427710  1.059185  1.036395

In [14]:
# Transform using string function name
print("Absolute values (string):")
print(tsdf.transform('abs'))

Absolute values (string):
                   A         B         C
2000-01-01  0.086255  0.061914  0.876074
2000-01-02  0.427084  0.242399  1.062885
2000-01-03  0.424431  0.097712  1.036498
2000-01-04  1.260290  1.137572  0.088948
2000-01-05  0.400869  1.942060  0.228203
2000-01-06  0.282520  0.586111  0.418950
2000-01-07  0.091610  0.555329  0.176473
2000-01-08  0.585150  0.898894  0.504578
2000-01-09  0.530634  1.319973  0.222900
2000-01-10  0.427710  1.059185  1.036395

In [15]:
# Transform using lambda function
print("Absolute values (lambda):")
print(tsdf.transform(lambda x: x.abs()))

Absolute values (lambda):
                   A         B         C
2000-01-01  0.086255  0.061914  0.876074
2000-01-02  0.427084  0.242399  1.062885
2000-01-03  0.424431  0.097712  1.036498
2000-01-04  1.260290  1.137572  0.088948
2000-01-05  0.400869  1.942060  0.228203
2000-01-06  0.282520  0.586111  0.418950
2000-01-07  0.091610  0.555329  0.176473
2000-01-08  0.585150  0.898894  0.504578
2000-01-09  0.530634  1.319973  0.222900
2000-01-10  0.427710  1.059185  1.036395

In [16]:
# Transform with multiple functions
print("Multiple transformations:")
print(tsdf.transform([np.abs, lambda x: x + 1]))

Multiple transformations:
                   A                   B                   C
            absolute  <lambda>  absolute  <lambda>  absolute  <lambda>
2000-01-01  0.086255  0.913745  0.061914  0.938086  0.876074  1.876074
2000-01-02  0.427084  1.427084  0.242399  0.757601  1.062885 -0.062885
2000-01-03  0.424431  0.575569  0.097712  1.097712  1.036498  2.036498
2000-01-04  1.260290  2.260290  1.137572  2.137572  0.088948  0.911052
2000-01-05  0.400869  0.599131  1.942060 -0.942060  0.228203  0.771797
2000-01-06  0.282520  0.717480  0.586111  1.586111  0.418950  0.581050
2000-01-07  0.091610  0.908390  0.555329  1.555329  0.176473  0.823527
2000-01-08  0.585150  0.414850  0.898894  0.101106  0.504578  0.495422
2000-01-09  0.530634  0.469366  1.319973  2.319973  0.222900  1.222900
2000-01-10  0.427710  0.572290  1.059185  2.059185  1.036395  2.036395

In [17]:
# Transform with dictionary
print("Selective transformations:")
print(tsdf.transform({'A': np.abs, 'B': lambda x: x + 1}))

Selective transformations:
                   A         B
2000-01-01  0.086255  0.938086
2000-01-02  0.427084  0.757601
2000-01-03  0.424431  1.097712
2000-01-04  1.260290  2.137572
2000-01-05  0.400869 -0.942060
2000-01-06  0.282520  1.586111
2000-01-07  0.091610  1.555329
2000-01-08  0.585150  0.101106
2000-01-09  0.530634  2.319973
2000-01-10  0.427710  2.059185