##### Data Types and Column Operations

In [ ]:
import pandas as pd
import numpy as np

##### Data Type Handling
Working with different data types in pandas

In [ ]:
# Create DataFrame with multiple types
dft = pd.DataFrame({
    'A': np.random.rand(3),
    'B': 1,
    'C': 'foo',
    'D': pd.Timestamp('20010102'),
    'E': pd.Series([1.0] * 3).astype('float32'),
    'F': False,
    'G': pd.Series([1] * 3, dtype='int8')
})

print("DataFrame with multiple types:")
print(dft)
print("\nData types of each column:")
print(dft.dtypes)

In [ ]:
# Type coercion examples
print("Integers coerced to floats:")
print(pd.Series([1, 2, 3, 4, 5, 6.]))

print("\nMixed types coerced to object:")
print(pd.Series([1, 2, 3, 6., 'foo']))

In [ ]:
# Count of each dtype
print("Count of each dtype:")
print(dft.dtypes.value_counts())

##### Numeric Type Operations
Working with different numeric types

In [ ]:
# Create DataFrames with different numeric types
df1 = pd.DataFrame(np.random.randn(8, 1), columns=['A'], dtype='float32')
df2 = pd.DataFrame({
    'A': pd.Series(np.random.randn(8), dtype='float16'),
    'B': pd.Series(np.random.randn(8)),
    'C': pd.Series(np.array(np.random.randn(8), dtype='uint8'))
})

print("DataFrame 1 (float32):")
print(df1)
print("\nDataFrame 2 (mixed types):")
print(df2)

In [ ]:
# Upcasting example
df3 = df1.reindex_like(df2).fillna(value=0.0) + df2
print("Result of operation (note dtype changes):")
print(df3)
print("\nResulting dtypes:")
print(df3.dtypes)

##### Column Operations
Adding and manipulating columns

In [ ]:
# Create sample DataFrame
df = pd.DataFrame({
    'one': pd.Series([1., 2., 3., np.nan]),
    'flag': pd.Series([False, False, True, False]),
    'foo': 'bar'
}, index=['a', 'b', 'c', 'd'])

print("Original DataFrame:")
print(df)

In [ ]:
# Add truncated column
df['one_trunc'] = df['one'][:2]
print("After adding truncated column:")
print(df)

In [ ]:
# Insert column at specific location
df.insert(1, 'bar', df['one'])
print("After inserting column:")
print(df)

##### Column Assignment with assign()
Creating new columns in method chains

In [ ]:
# Load iris dataset
iris = pd.read_csv('data/iris.data', names=['SepalLength', 'SepalWidth', 
                                            'PetalLength', 'PetalWidth', 'Name'])
print("Iris dataset:")
print(iris.head())

In [ ]:
# Add new column using assign
print("With sepal ratio:")
print(iris.assign(
    sepal_ratio=lambda x: x['SepalWidth'] / x['SepalLength']
).head())

In [ ]:
# Multiple assignments in chain
result = (iris.query('SepalLength > 5')
          .assign(
              SepalRatio=lambda x: x.SepalWidth / x.SepalLength,
              PetalRatio=lambda x: x.PetalWidth / x.PetalLength
          ))

print("Filtered data with ratios:")
print(result.head())