#### Pandas Tutorial - Part 49

This notebook covers various Series methods including:
- Converting Series to LaTeX with `to_latex()`
- Viewing underlying data with `view()`
- Conditional replacement with `where()`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, Latex

%matplotlib inline

##### Converting Series to LaTeX

The `to_latex()` method renders a Series to a LaTeX tabular environment.

In [2]:
# Create a Series
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print("Original Series:")
print(s)

Original Series:
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
# Convert to LaTeX
latex_s = s.to_latex()
print("LaTeX representation:")
print(latex_s)

LaTeX representation:
\begin{tabular}{lr}
\toprule
 & 0 \\
\midrule
a & 1 \\
b & 2 \\
c & 3 \\
d & 4 \\
e & 5 \\
\bottomrule
\end{tabular}

In [4]:
# Display the LaTeX table
display(Latex(latex_s))

In [5]:
# Convert to LaTeX with caption and label
latex_with_caption = s.to_latex(caption="Sample Series", label="tab:sample_series")
print("LaTeX representation with caption and label:")
print(latex_with_caption)

LaTeX representation with caption and label:
\begin{table}
\caption{Sample Series}
\label{tab:sample_series}
\begin{tabular}{lr}
\toprule
 & 0 \\
\midrule
a & 1 \\
b & 2 \\
c & 3 \\
d & 4 \\
e & 5 \\
\bottomrule
\end{tabular}
\end{table}

In [38]:
# Display the LaTeX table with caption and label
display(Latex(latex_with_caption))

In [39]:
# Convert to LaTeX with custom formatting
s_float = pd.Series([1.123, 2.456, 3.789, 4.012, 5.345], index=['a', 'b', 'c', 'd', 'e'])
latex_float = s_float.to_latex(float_format="%.2f")
print("LaTeX representation with float formatting:")
print(latex_float)

LaTeX representation with float formatting:
\begin{tabular}{lr}
\toprule
 & 0 \\
\midrule
a & 1.12 \\
b & 2.46 \\
c & 3.79 \\
d & 4.01 \\
e & 5.34 \\
\bottomrule
\end{tabular}

In [40]:
# Display the LaTeX table with float formatting
display(Latex(latex_float))

In [41]:
# Convert to LaTeX with bold rows
latex_bold = s.to_latex(bold_rows=True)
print("LaTeX representation with bold rows:")
print(latex_bold)

LaTeX representation with bold rows:
\begin{tabular}{lr}
\toprule
 & 0 \\
\midrule
\textbf{0} & 0 \\
\textbf{1} & 1 \\
\textbf{2} & 2 \\
\textbf{3} & 3 \\
\textbf{4} & 4 \\
\bottomrule
\end{tabular}

In [42]:
# Display the LaTeX table with bold rows
display(Latex(latex_bold))

In [43]:
# Convert to LaTeX with custom column format
latex_col_format = s.to_latex(column_format="rc")
print("LaTeX representation with custom column format:")
print(latex_col_format)

LaTeX representation with custom column format:
\begin{tabular}{rc}
\toprule
 & 0 \\
\midrule
0 & 0 \\
1 & 1 \\
2 & 2 \\
3 & 3 \\
4 & 4 \\
\bottomrule
\end{tabular}

In [44]:
# Display the LaTeX table with custom column format
display(Latex(latex_col_format))

In [45]:
# Create a Series with missing values
s_with_nan = pd.Series([1, np.nan, 3, np.nan, 5], index=['a', 'b', 'c', 'd', 'e'])
print("Series with missing values:")
print(s_with_nan)

Series with missing values:
a    1.0
b    NaN
c    3.0
d    NaN
e    5.0
dtype: float64

In [46]:
# Convert to LaTeX with custom NA representation
latex_na = s_with_nan.to_latex(na_rep="--")
print("LaTeX representation with custom NA representation:")
print(latex_na)

LaTeX representation with custom NA representation:
\begin{tabular}{lr}
\toprule
 & 0 \\
\midrule
a & 1.000000 \\
b & -- \\
c & 3.000000 \\
d & -- \\
e & 5.000000 \\
\bottomrule
\end{tabular}

In [47]:
# Display the LaTeX table with custom NA representation
display(Latex(latex_na))

##### Viewing Underlying Data

The `view()` method returns a view of the Series with a different dtype.

In [48]:
# Create a Series with int8 dtype
s = pd.Series([-2, -1, 0, 1, 2], dtype='int8')
print("Original Series:")
print(s)
print(f"Data type: {s.dtype}")

Original Series:
0   -2
1   -1
2    0
3    1
4    2
dtype: int8
Data type: int8

In [49]:
# View as uint8
us = s.view('uint8')
print("Series viewed as uint8:")
print(us)
print(f"Data type: {us.dtype}")

Series viewed as uint8:
0    254
1    255
2      0
3      1
4      2
dtype: uint8
Data type: uint8

/var/folders/7y/fzwln1_93mn3js3wyk61_6xm0000gn/T/ipykernel_83613/3334671036.py:2: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  us = s.view('uint8')

In [50]:
# Modify the view and see the effect on the original Series
us[0] = 128
print("Modified view:")
print(us)
print("\nOriginal Series after modifying the view:")
print(s)

Modified view:
0    128
1    255
2      0
3      1
4      2
dtype: uint8

Original Series after modifying the view:
0   -128
1     -1
2      0
3      1
4      2
dtype: int8

In [51]:
# Create a Series with float64 dtype
s_float = pd.Series([1.0, 2.0, 3.0, 4.0, 5.0])
print("Original Series:")
print(s_float)
print(f"Data type: {s_float.dtype}")

Original Series:
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
Data type: float64

In [52]:
# View as int64
try:
    s_int = s_float.view('int64')
    print("Series viewed as int64:")
    print(s_int)
    print(f"Data type: {s_int.dtype}")
except Exception as e:
    print(f"Error: {e}")

Series viewed as int64:
0    4607182418800017408
1    4611686018427387904
2    4613937818241073152
3    4616189618054758400
4    4617315517961601024
dtype: int64
Data type: int64

/var/folders/7y/fzwln1_93mn3js3wyk61_6xm0000gn/T/ipykernel_83613/2807991525.py:3: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  s_int = s_float.view('int64')

In [53]:
# Create a Series with complex numbers
s_complex = pd.Series([1+2j, 3+4j, 5+6j])
print("Original Series:")
print(s_complex)
print(f"Data type: {s_complex.dtype}")

Original Series:
0    1.0+2.0j
1    3.0+4.0j
2    5.0+6.0j
dtype: complex128
Data type: complex128

In [54]:
# View as float64
try:
    s_complex_view = s_complex.view('float64')
    print("Series viewed as float64:")
    print(s_complex_view)
    print(f"Data type: {s_complex_view.dtype}")
except Exception as e:
    print(f"Error: {e}")

Error: Length of values (6) does not match length of index (3)

/var/folders/7y/fzwln1_93mn3js3wyk61_6xm0000gn/T/ipykernel_83613/1617651376.py:3: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  s_complex_view = s_complex.view('float64')

##### Conditional Replacement with `where()`

The `where()` method replaces values where the condition is False.

In [23]:
# Create a Series
s = pd.Series(range(5))
print("Original Series:")
print(s)

Original Series:
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [24]:
# Replace values where the condition is False with NaN
s_where = s.where(s > 0)
print("Series with values <= 0 replaced with NaN:")
print(s_where)

Series with values <= 0 replaced with NaN:
0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [25]:
# Replace values where the condition is False with a scalar
s_where_scalar = s.where(s > 1, 10)
print("Series with values <= 1 replaced with 10:")
print(s_where_scalar)

Series with values <= 1 replaced with 10:
0    10
1    10
2     2
3     3
4     4
dtype: int64

In [26]:
# Replace values where the condition is False with another Series
other = pd.Series([10, 20, 30, 40, 50])
s_where_series = s.where(s > 2, other)
print("Original Series:")
print(s)
print("\nOther Series:")
print(other)
print("\nSeries with values <= 2 replaced with values from other Series:")
print(s_where_series)

Original Series:
0    0
1    1
2    2
3    3
4    4
dtype: int64

Other Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Series with values <= 2 replaced with values from other Series:
0    10
1    20
2    30
3     3
4     4
dtype: int64

In [27]:
# Replace values in-place
s_inplace = s.copy()
s_inplace.where(s_inplace > 3, -1, inplace=True)
print("Series after in-place replacement:")
print(s_inplace)

Series after in-place replacement:
0   -1
1   -1
2   -1
3   -1
4    4
dtype: int64

In [28]:
# Use a callable for condition
def is_even(x):
    return x % 2 == 0

s_where_callable = s.where(is_even, -1)
print("Series with odd values replaced with -1:")
print(s_where_callable)

Series with odd values replaced with -1:
0    0
1   -1
2    2
3   -1
4    4
dtype: int64

In [29]:
# Use a callable for replacement
def square(x):
    return x ** 2

s_where_callable_other = s.where(s > 2, square)
print("Series with values <= 2 replaced with their squares:")
print(s_where_callable_other)

Series with values <= 2 replaced with their squares:
0    0
1    1
2    4
3    3
4    4
dtype: int64

In [30]:
# Create a Series with missing values
s_with_nan = pd.Series([1, np.nan, 3, np.nan, 5])
print("Series with missing values:")
print(s_with_nan)

Series with missing values:
0    1.0
1    NaN
2    3.0
3    NaN
4    5.0
dtype: float64

In [31]:
# Replace values based on a condition involving NaN
s_where_nan = s_with_nan.where(s_with_nan.notna(), 0)
print("Series with NaN values replaced with 0:")
print(s_where_nan)

Series with NaN values replaced with 0:
0    1.0
1    0.0
2    3.0
3    0.0
4    5.0
dtype: float64

In [32]:
# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': [10, 20, 30, 40, 50],
                   'C': [100, 200, 300, 400, 500]})
print("Original DataFrame:")
print(df)

Original DataFrame:
   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [33]:
# Replace values in DataFrame
df_where = df.where(df > 100, -df)
print("DataFrame with values <= 100 replaced with their negatives:")
print(df_where)

DataFrame with values <= 100 replaced with their negatives:
   A   B    C
0 -1 -10 -100
1 -2 -20  200
2 -3 -30  300
3 -4 -40  400
4 -5 -50  500

##### Comparison with `mask()`

The `mask()` method is the inverse of `where()`. It replaces values where the condition is True.

In [34]:
# Create a Series
s = pd.Series(range(5))
print("Original Series:")
print(s)

Original Series:
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [35]:
# Compare where() and mask()
s_where = s.where(s > 0)
s_mask = s.mask(s > 0)

print("Series.where(s > 0):")
print(s_where)
print("\nSeries.mask(s > 0):")
print(s_mask)

Series.where(s > 0):
0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

Series.mask(s > 0):
0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

In [36]:
# Equivalent operations
s_where_gt2 = s.where(s > 2)
s_mask_le2 = s.mask(s <= 2)

print("Series.where(s > 2):")
print(s_where_gt2)
print("\nSeries.mask(s <= 2):")
print(s_mask_le2)

Series.where(s > 2):
0    NaN
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

Series.mask(s <= 2):
0    NaN
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

##### Conclusion

In this notebook, we've explored various Series methods in pandas:

1. Converting Series to LaTeX with `to_latex()`, which renders a Series to a LaTeX tabular environment with various formatting options.
2. Viewing underlying data with `view()`, which returns a view of the Series with a different dtype, allowing for low-level data manipulation.
3. Conditional replacement with `where()`, which replaces values where the condition is False, with options for custom replacement values and in-place modification.

We also compared `where()` with its inverse method `mask()`, which replaces values where the condition is True.

These methods are essential tools for data manipulation, presentation, and analysis in pandas, allowing for flexible and powerful operations on your data.